body{
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
center{
    margin-top: 120px;
}
.hd-left
{

    display: block;
    width: 220px;
    margin-left: 2%;
    margin-top: 2%;
}
.hd-left, img
{
    width: 20%;
}
.hd-right
{

    display: block;
    width: 220px;
    margin-left: 80%;
}
.hd-right, img
{
    width: 25%;
}